<%= form_with(model: static_feed, local: true) do |form| %>
  <% if static_feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(static_feed.errors.count, "error") %> prohibited this static_feed from being saved:</h2>

      <ul>
      <% static_feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :static_feed, class: "col-md-4 control-label" %>
    <div class="col-md-8">
    <%= form.text_area :static_feed, :rows=>30, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
