<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<ul class="nav navbar-nav">
	  <li role="presentation"><a href="<%= root_path %>">Corporate Home</a></li>
	  <li role="presentation"><a href="<%= property_path_url %>">Location Home</a></li>
	  <li role="presentation"><a href="<%= property_about_path_url %>">About</a></li>
	  <li role="presentation"><a href="<%= location_features_path %>">Features</a></li>
	  <li role="presentation"><a href="<%= property_gallery_path_url %>">Gallery</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><h4>Call Now: <%= location.phone %></h4></li>
    </ul>
  </div>
</nav>