<% content_for :snippet do -%>
  <%= raw @location.wow_snippet %>
<% end -%>

<p id="notice"><%= notice %></p>

<%= render 'top_nav_bar', location: @location %>

<div class="center jumbotron">
  <h1><%= @location.name %></h1>

  <h2>
    This is one of the locations under a single domain client
  </h2>
</div>

<div class="row center">
	<%= render 'address_card', location: @location %>

	<h4><a href="https://www.getg5.com" target="_blank">External link</a></h4>
</div>

