<div class="center jumbotron">
  <h1>Single Domain Client</h1>

  <h2>
    Add Locations and Javascript snippets
  </h2>

  <%= link_to 'New Location', new_location_path, class: "btn btn-lg btn-primary" %>
</div>

<h1>Locations</h1>
<%= link_to "Sitemap", sitemap_path(format: :xml) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>No CPM Code</th>
      <th>Wow snippet</th>
      <th>JSON snippet</th>
      <th>SS</th>
      <th>MF</th>
      <th>Phone</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, property_path_url(slug: location.slug)+"?cpm=123" %></td>
        <td><%= link_to "Go", property_path_url(slug: location.slug) %></td>
        <td>
        <% if !location.wow_snippet.blank? %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        </td>
        <td>
        <% if !location.inventory_json.blank? %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        </td>
        <td>
        <% if !location.inventory_json.blank? %>
          <%= link_to 'SS Feed', property_units_path_url(slug: location.slug) %>
        <% end %>
        </td>
        <td>
        <% if !location.inventory_json.blank? %>
          <%= link_to 'MF Feed', property_floorplans_path_url(slug: location.slug) %>
        <% end %>
        </td>
        <td><%= location.phone %></td>
        <td><%= location.slug %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row center"> 
  <div class="col-md-2"></div>   
  <div class="col-md-8">
    <h1>Client Snippet</h1>

    <h2>
      The one being used now:
    </h2>
    <p> <%= @client_snippet %> </p>

    <h2>New Client Level Snippet</h2>
    <%= form_with url: snippets_path_url, local: true do |form| %>
      <%= form.text_area :client_snippet, :rows=>15, class: "form-control" %>
      <br />
      <%= form.submit :Submit, class: "btn btn-lg btn-primary" %>
    <% end %>

  </div>
  <div class="col-md-2"></div>   
</div>