<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Wow snippet:</strong>
  <%= @location.wow_snippet %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @location.slug %>
</p>

<p>
  <strong>Inventory JSON:</strong>
  <%= @location.inventory_json %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>