<!DOCTYPE html>
<html>
  <head>
    <title>SingleDomainClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Tag Manager -->
    <script>  var jsrxEndpoint = 'https://jsrx.g5marketingcloud.com/tracking_scripts/g5-c-5g10stapa-mf-bottle-rocket.js?op_referrer=' + window.location.href;  window.dataLayer=window.dataLayer||[];  window.dataLayer.push({'G5_CLIENT_ID': 'g5-c-5g10stapa-mf-bottle-rocket', 'jsrxEndpoint': jsrxEndpoint});  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);  })(window,document,'script','dataLayer','GTM-5NXSPP');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
